@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Mukta&display=swap');

#content {
    max-width:800px;
    margin: 0 auto;
}
nav a{
    text-align:center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1,
#hero-msg h4,
.button-box,
main section
{
    text-align:center;
}
#background {
    height: 725px;
}
body{
    background-color:#4D80A8 ;
    font-family: "Mukta", Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin:0;
    padding:0;
}
header{
    background-color:#D2B48C;
}
h2{
    margin:0;
}
nav a:hover{
    background-color:#ADC2B3 ;
    color: black;
}
.book, 
.join:hover{
    background-color: #ADC2B3;
}
.book:hover, 
.join:hover{ 
    background-color:#ADC2B3;}
#background{
    background-color:rgb(184, 214, 227);
}
.msg{
    background-color:rgb(184, 214, 227);
    line-height: 1.5em;
    padding: 35px;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color:#D2B48C ;
}
.logo, 
.icon {
    width: 80px;
    padding-top: 10px;
}
#logo_link{
    padding:35px;
}
#hero-img{
    width: 100%;
}
.home-title, h4{
    color:black;
    font-family:"Kalam", 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.book, 
.join{
    text-align:center;
    color:black;
    text-decoration: none;
    font-size:18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img{
    border: 10px solid #000000;
}
main section img{
    box-sizing: border-box;
}
.rivers-card, 
.camping-card, 
.rapids-card{
    margin: 200px;
}

footer a{
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer{
    padding: 25px 50px;
    margin-top:200px;
}
footer .social img{
    padding:15px;
}